# Importer les Donnees & Lectur des donnees :

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importation des donnees
data = pd.read_csv("quotes.csv")

# des infos sur data
print("la dimention de dataset est : " , data.shape ,"\n")
print(f"le nbr des lignes : {len(data)}")
print(f"le nbr des cologne : {len(data.columns)} \n")
print("le Type des donnees est : \n ", data.dtypes , "\n")

data.head()

la dimention de dataset est :  (100, 4)

le nbr des lignes : 100
le nbr des cologne : 4

le Type des donnees est :
  Citation    object
Author      object
Tags        object
Page         int64
dtype: object

,Citation,Author,Tags,Page
0,“The world as we have created it is a process ...,Albert Einstein,"change, deep-thoughts, thinking, world",1
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities, choices",1
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational, life, live, miracle, miracles",1
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy, books, classic, humor",1
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself, inspirational",1

# Netoyage les Donnees :

In [23]:
# les lignes avec des valeures manquant :
print(f" - nbr des lignes avec des valeurs Manquant sur chaque cologne : \n{data.isnull().sum()}")

# En Observe que jai 3 lignes avec 3 tags non defni , donc en le suprime
data = data.dropna()
print(f"\n - le nbr des lignes sans les ligne manquant : {len(data)}")

# Verifier si il y a des doublant 
print(f" - les nbrs les lignes doublant : {data.duplicated().sum()}")

 - nbr des lignes avec des valeurs Manquant sur chaque cologne :
Citation    0
Author      0
Tags        3
Page        0
dtype: int64

 - le nbr des lignes sans les ligne manquant : 97
 - les nbrs les lignes doublant : 0

# transformer le data en DataFrame pour demarer l'analyse apres cleaning